.thankyou > h3{
    color:white;
    font-size:3em  !important;
}
.hljs{
    font-size:1.3em;
line-height: 1.2em;
}
.reveal{
    position:absolute;
	top:0px;
}
.reveal .title{
    font-size:80px;
    margin-bottom: 2em;
}
.reveal pre code{
    max-height:none;
}
.reveal p{
    text-align:left;
}
.timestamp{
    font-size:10px;
	color:#4A4A4A;
}
.preamble{
    float: left;
}
.reveal img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.reveal h1{
    font-size: 2em;
    padding-bottom: 1em;
}
.reveal h2, .reveal h3{
    font-size: 1.6em;
    text-align: center;
    padding-bottom: 1em;
}
.reveal h4{
    font-size: 0.6em;
    font-weight: bolder;
    text-align: left;
}
.reveal .author{
    display: inline-block;
    margin: 10px 30px;
    font-size:1em;
}
.reveal .email{
    font-size:.7em;
}
.reveal .logo{
    position: absolute;
    bottom: 0;
    left: -200px;
    width: 300px;
}
.reveal .date{
    font-size:0.6em;
    font-style:italic;
    }
.reveal p, .reveal li, .reveal ul{
    font-size:28px;
    text-align:left;
margin-bottom: 10px;
}


.container{
    display: flex;
}
.col{
    flex: 1;
    margin:20px;
}
/* The alert message box */
.alert{
    text-align: left;
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    font-size:0.55em;
}
.alert p{
    margin:0;
}
.alert .fa{
    font-size:30px;
    margin-right: 10px;
}
.alert .fa:after{
    content: '|';
    padding-left: 10px;
}

.alert h4{
    font-size:30px;
    display: block;
    text-align: left;
    font-weight: 900;
    vertical-align: middle;
    }
.alert-info {
    color: #059;
    background-color: #BEF;
}
.alert-info h4{
    color: #059;
}
.alert-success {
    color: #270;
    background-color: #DFF2BF;
}
.alert-success h4{
    color: #270;
}
.alert-warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.alert-warning h4{
    color: #9F6000;
}
.alert-error {
    color: #D8000C;
    background-color: #FFBABA;
}
.ia-demo {
    background-color: rgba(255,255,255, .8);
    padding:40px;
    border-radius: 10px;
}
 /* Dashed border */
hr.dashed {
  border-top: 3px dashed #bbb;
}

/* Dotted border */
hr.dotted {
  border-top: 3px dotted #bbb;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}

/* Rounded border */
hr.rounded {
    background-color: transparent;
    border-top: 8px solid #bbb;
    border-radius: 5px;
}
pre code.hljs{
    padding:.5em;
}

.reveal .progress{
    height:5px;
}
